
@font-face {
font-family: 'DIN Alternate Bold';
font-style: normal;
font-weight: normal;
src: local('DIN Alternate Bold'), url('DINAlternate-Bold.woff') format('woff');
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
  background-color: #fff;
}
body {
  overscroll-behavior: none;
}
body, input {
  font-family: 'DIN Alternate Bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}
p {
  font-size: 16px;
  letter-spacing: 1px;
}

// @material-ui/core/Tooltip
.MuiTooltip-tooltip {
  background-color: white !important;
  color: black !important;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  & .MuiTooltip-arrow {
    color: white !important;
    position: absolute;
    font-size: 6px;
  }
}
// @material-ui/core/Fab
.MuiFab-label {
  position: absolute;
  width: unset !important;
  right: 30%;
  bottom: 18%;
  display: unset !important;
  align-items: unset !important;
  justify-content: unset !important;
  z-index: 3;
  pointer-events: none;
  cursor: pointer;
  & div {
    pointer-events: auto;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 30px;
    left: -90%;
    top: -70%;
  }
}

.dropzoneActive {
  box-shadow: 0 0 50px 10px rgba(0,0,0,1);
}
